@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --emphasized-background: #f5f5f4; /* stone-100 */
  --foreground: #1c1917; /* stone-900 */
  --muted-foreground: #78716c; /* stone-500 */
  --primary: #e11d48; /* rose-600 */
  --border: #a8a29e; /* stone-400 */

  --chart-1: hsl(346 77% 90%);
  --chart-2: hsl(346 77% 75%);
  --chart-3: hsl(346 77% 50%);
  --chart-4: hsl(346 77% 25%);
}

@theme inline {
  --color-background: var(--background);
  --color-emphasized-background: var(--emphasized-background);
  --color-foreground: var(--foreground);
  --color-muted-foreground: var(--muted-foreground);
  --color-primary: var(--primary);
  --color-border: var(--border);
  --font-sans: var(--font-figtree);
  --font-semimono: var(--font-geist);
  --font-mono: var(--font-geist-mono);
}

.dark {
  --background: #292524; /* stone-800 */
  --emphasized-background: #1c1917; /* stone-900 */
  --foreground: #f5f5f4; /* stone-100 */
  --muted-foreground: #a8a29e; /* stone-400 */
  --primary: #fb7185; /* rose-400 */
  --border: #57534e; /* stone-600 */

  --chart-1: hsl(346 80% 60%); /* Brighter red (top) */
  --chart-2: hsl(346 75% 40%); /* Deep burgundy (middle) */
  --chart-3: hsl(346 70% 25%); /* Dark maroon (bottom) */
  --chart-4: hsl(346 80% 75%); /* Brightest pink (lightest) */
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist), sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

@layer utilities {
  .focus-outline {
    @apply focus-visible:outline-primary focus-visible:outline-2 focus-visible:outline-offset-2;
  }
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
